.nav {
    border: 2px solid;
    background-color: darkgrey;
    border-color: black;
    height: 120px;
    width: 901px;
    top: 0;
    margin: 0 auto;
}

.logo{
  border: 1px solid;
  background-color: white;
  border-color: black;
  height: 45px;
  width: 42px;
  display: inline-block;
  margin-top: 0;
}

.sitename{
    font-size: 20px;
    border: 1px solid;
    font-family: 'Yellowtail', cursive;
    background-color: white;
    height: 45px;
    width: 100px;
    display: inline-block;
    margin-top: 0;
}

.links{
  height: 25px;
  width: 230px;
  margin: 0;
  float: right;

}

#rss{
  margin-left: 8px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.navline {
  background-image: url(lab-assets/bar.jpg);
  height: 15px;
  width: 901px;
  margin: 0 auto;
}

.toptitle {
  border: 2px solid;
  background-color: darkgrey;
  border-color: black;
  height: 120px;
  width: 901px;
  margin: 0 auto;
}

.recipename {
  border: 2px solid;
  background-color: blue;
  height: 70px;
  width: 240px;
  display: inline-block;
  margin-top: 35px;
  font-family: 'Anton', sans-serif;
}
#chocotitle{
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
#posted{
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.print {
  border: 0;
  background-color: lightblue;
  border-color: black;
  height: 10px;
  width: 40px;
  margin-right: 0;
  margin-left: 850px;
  padding: 0;
  font-size: 8px;
}

.pizza {
  height: 603px;
  width: 901px;
  margin: 0 auto;
}

.description {
  border: 0;
  border-color: black;
  height: 305px;
  width: 901px;
  margin: 0 auto;
}

.paper {
  background-image: url(lab-assets/list-bg.png);
  height: 305px;
  width: 899px;
  margin: 0 auto;
}

.recipe {
  border: 0;
  border-color: black;
  height: 170px;
  width: 250px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 0;


}

.recipetwo {
  border: 0;
  border-color: black;
  height: 170px;
  width: 480px;
  display: inline-block;
  margin-top: 20px;
  float: right;
}

.bottomline{
  background-image: url(lab-assets/bar.jpg);
  height: 15px;
  width: 901px;
  margin: 0 auto;
}

.footer {
  border: 2px solid;
  background-color: darkgrey;
  border-color: black;
  height: 120px;
  width: 901px;
  margin: 0 auto;
}
 ul li {
   font-size: 20px;
   font-family: 'Pangolin', cursive;
 }

p {
  font-size: 18px;
  text-indent: 30px;
  text-align: left;
  margin-top: 30px;
}

.slogan{
  border: 2px solid;
  height: 30px;
  width: 200px;
  font-size: 12px;
  margin: 0 auto;
  padding: 0;
}

body {
  margin:0px;
}

.girl {
  height: 71px;
  width: 68px;
  margin-top: 20px;
  display: inline-block;
}

.profile{
  height: 60px;
  width: 600px;
  margin-left: 0;
  display: inline-block;
}
#vanessa{
  margin: 0 auto;
  font-size: 30px;
}
#vanessaprofile{
  margin: 0 auto;
  font-size: 14px;
  vertical-align: middle;
  line-height: 60px;
}
.share {
  border: 2px solid;
  background-color: #bc7058;
  border-color: black;
  height: 50px;
  width: 160px;
  margin-left: 10;
  display: inline-block;
}

#share{
  color: white;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  text-indent: 0;
}
.footicon{
  border: 2px solid;
  background-color: darkgrey;
  border-color: black;
  height: 20px;
  width: 20px;
  margin: 0 auto;
}
