.nav {
    border: 2px solid;
    background-color: darkgrey;
    border-color: black;
    height: 120px;
    width: 100%;
  top: 0;
}

.logo{
  border: 2px solid;
  background-color: white;
  border-color: black;
  height: 70px;
  width: 100px;
  display: inline-block;
}

.links{
  border: 2px solid;
  background-color: white;
  border-color: black;
  height: 70px;
  width: 100px;
  float: right;

}
.navline {
  border: 2px solid;
  background-color: pink;
  border-color: black;
  height: 40px;
  width: 100%;
}
